---

---

@charset "utf-8";

a {
  background-color: transparent;
  color: #32323c;
}

h1 {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

::-moz-selection {
  color:#fff;
  background:#32323c;
}

::selection {
  color:#fff;
  background:#32323c;
}

::-moz-selection {
  background:#32323c;
}

html {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color:#f8fafb;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  font: 16px/22px Georgia, Times, serif;
  color: #32323c;
  margin: 0;

  #page {
    height: 100%;
  }

}

main {
  min-height: 100%;
}

.text-center{
  text-align: center;
}

.main-content {
  .post-header-container {
    &.white {
      color: white;
      a {
        color: white;
      }
    }

    > .post-image {
      position: absolute;
      width: 100%;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation: fadeInZoomOut 15s cubic-bezier(.19,1,.22,1);
              animation: fadeInZoomOut 15s cubic-bezier(.19,1,.22,1);
    }

    > .home-btn{
      position: absolute;
      top: 53px;
      right: 140px;
      z-index: 1;
      a {
        font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.7em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin: 0 7px;
        padding: 3px 0;
        text-decoration: none;
        &:hover{
          border-bottom: 1px solid #dddddf;
        }
      }
    }
  }

  .post-header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 30px 65px;
    max-height: 340px;

    h1 {
      margin: 1.4em 0 0.4em;
      font-weight: 900;
      font-size: 3.4em;
      letter-spacing: -3px;
      max-width: 700px;
      text-transform: capitalize;
      line-height: 1.1;
    }

    .post-tag-container{
      margin-bottom: 30px;
      .post-tag {
        font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 0.6em;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 3px 7px;
        border: 1px solid;
        border-radius: 3px;
        margin-right: 5px;
      }
    }

    .meta,
    .post-meta {
      width: auto;
      font-size: 1rem;
      font-weight: 300;
      margin: 0;
      padding: .25em 0;
      color: #7a7a7a;
      font-style: italic;
    }
  }

  .post-content-container{
    background: white;
    position: relative;
    // top: 270px;
    min-height: calc(100vh - 270px);
  }

  .post-content {
    padding: 55px 65px 20px;
    max-width: 1120px;
    margin: 0 auto;

    .post-summary {
      font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.1em;
      color: #5C5C5C;
      line-height: 2.2;
      margin-bottom: 40px;
    }

    h1, h3 {
      font-weight: 900;
      font-size: 1.4em;
      letter-spacing: -0.4px;
      margin: 20px 0;
    }

    h3 {
      font-size: 0.8em;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    blockquote {
      font-size: 1.85rem;
      line-height: 1.5;
      border-bottom: 1px solid #B5B5B5;
      border-top: 1px solid #B5B5B5;
      padding: 25px 50px;
      margin: 1em 0;
    }

    p {
      font-size: 1.25em;
      line-height: 1.45;
      margin-bottom: 20px;
    }
  }
}

#main-menu {
  position: fixed;
  top: 0px;
  right: -400px;
  width: 400px;
}

.site-wrap {
  height: 100%;
}

.animated {
  -webkit-animation-duration: 650ms;
  animation-duration: 650ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  &.ease-in-out{
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

.animated.delayed {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

@-webkit-keyframes fadeInUpSm {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUpSm {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fade-in-up-sm {
  -webkit-animation-name: fadeInUpSm;
          animation-name: fadeInUpSm;
}

@-webkit-keyframes fadeInUpMd {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 120px, 0);
            transform: translate3d(0, 120px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUpMd {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 120px, 0);
            transform: translate3d(0, 120px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }

  15% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }

  15% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.fade-in-up-md {
  -webkit-animation-name: fadeInUpMd;
          animation-name: fadeInUpMd;
}
