---

---

@charset "utf-8";

a {
  background-color: transparent;
  color: #32323c;
}

::-moz-selection {
  color:#fff;
  background:#32323c;
}

::selection {
  color:#fff;
  background:#32323c;
}

::-moz-selection {
  background:#32323c;
}

html {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color:#f8fafb;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  font: 16px/22px Georgia, Times, serif;
  color: #32323c;
  margin: 0;

  #page {
    height: 100%;
  }

}

main {
  min-height: 100%;
}

.container {
  position:relative;
  width:100%;
  margin-right:auto;
  margin-left:auto;
}

.four-oh-four {
  padding: 0.5em 3em 2em;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
  p {
    text-align: center;
    font-size: 2em;
  }
  .back {
    margin-top: 20px;
  }
}

.sheep-container{
  .sheep-body{
    animation:sheep 1s infinite;
    -webkit-animation:sheep 1s infinite;
    -moz-animation:sheep 1s infinite;

    .sheep-head{
      transition: transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      -webkit-transform-origin: 65px 75px;
              transform-origin: 65px 75px;
      & *{
        transition: transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;
      }
      .eye{
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
      }
      .ear{
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
        &.front-ear{
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        &.back-ear{
          -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
        }
      }

      &:hover{
        .front-ear{
          -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
        }
        .back-ear{
          -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
        }
      }
    }

    &:hover {
      animation-play-state:paused;
      -webkit-animation-play-state:paused; /* Safari and Chrome */

      .sheep-head{
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg)
      }

      .eye{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        .eye-ball{
          -webkit-transform: translate(3px,-3px);
          transform: translate(3px,-3px);
        }
      }
    }

  }
}

@-webkit-keyframes sheep {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  } 
  50% {
    transform: translateY(0.2em);
    -webkit-transform: translateY(0.2em);
  }
}
@keyframes sheep {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  } 
  50% {
    transform: translateY(0.2em);
    -webkit-transform: translateY(0.2em);
  }
}

#main-menu {
  position: fixed;
  top: 0px;
  right: -400px;
  width: 400px;
}

.site-wrap {
  height: 100%;
}

.animated {
  -webkit-animation-duration: 650ms;
  animation-duration: 650ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  &.ease-in-out{
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

.animated.delayed {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.animated.delayed-1 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.animated.delayed-2 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;

    -webkit-transform: translateY(-20px) translate3d(0, 0, 0);
            transform: translateY(-20px) translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;

    -webkit-transform: translateY(0) translate3d(0, 0, 0);
            transform: translateY(0) translate3d(0, 0, 0);
  }
}

.fade-in-down {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}