@charset "UTF-8";

@mixin clearfix() {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

::-moz-selection {
  color:#fff;
  background:#32323c;
}

::selection {
  color:#fff;
  background:#32323c;
}

::-moz-selection {
  background:#32323c;
}

html {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color:#f8fafb;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  font: 16px/22px Tiempos, Georgia, Times, serif;
  color: #32323c;

  #page {
    height: 100%;
  }

}

.no-scroll {
  overflow: hidden;
}

.clearfix{
  @include clearfix();
}

main {
  min-height: 100%;
}

.title {
  background-color: #262626;
  padding: 0.5em 3em 2em;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  
  h1, p {
    width: 100%;
    max-width: 50rem;
  }

  h1 {
    font: 5.6rem/1 Tiempos, Georgia, serif;
    -webkit-font-smoothing: antialiased;
    margin: 0.7em auto 0.8em;
    color: #fff;
    span {
      color: rgba(255,255,255,0.2);
    }
  }

  p {
    font: italic 18px/29px Tiempos, Georgia, serif;
    color: #777;
    margin: 1.2em auto;
  }

  #render{
    position: absolute;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
    top: 50%;
    right: 20%;
    width: 270px;
    height: 270px;
    opacity: 0; 
    transition: opacity 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 0s;
    
    &.fade-in{
      opacity: 1;
    }
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

.lato {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  width: auto;
  max-width: 100%;
}

.site-wrap {
  height: 100%;
  position: relative; 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 0s;
  overflow-x: hidden;
  will-change: transform;
  
  &.menu-in {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  &:after {
    content: "";
    display: block;
  }
}

.container {
  position:relative;
  width:100%;
  margin-right:auto;
  margin-left:auto;
}

.four-oh-four {
  @extend .title;
  background-color: lightgrey;
  p {
    text-align: center;
    font-size: 2em;
  }
  .back {
    margin-top: 20px;
  }
}

.sheep-container{
  .sheep-body{
    animation:sheep 1s infinite;
    -webkit-animation:sheep 1s infinite;
    -moz-animation:sheep 1s infinite;

    .sheep-head{
      transition: transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      -webkit-transform-origin: 65px 75px;
              transform-origin: 65px 75px;
      & *{
        transition: transform 0.3s;
        -webkit-transition: -webkit-transform 0.3s;
      }
      .eye{
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
      }
      .ear{
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
        &.front-ear{
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        &.back-ear{
          -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
        }
      }

      &:hover{
        .front-ear{
          -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
        }
        .back-ear{
          -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
        }
      }
    }

    &:hover {
      animation-play-state:paused;
      -webkit-animation-play-state:paused; /* Safari and Chrome */

      .sheep-head{
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg)
      }

      .eye{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        .eye-ball{
          -webkit-transform: translate(3px,-3px);
          transform: translate(3px,-3px);
        }
      }
    }

  }
}

@-webkit-keyframes sheep {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  } 
  50% {
    transform: translateY(0.2em);
    -webkit-transform: translateY(0.2em);
  }
}
@keyframes sheep {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  } 
  50% {
    transform: translateY(0.2em);
    -webkit-transform: translateY(0.2em);
  }
}

.is-exiting{
  .sheep-container .sheep-body {
    animation-play-state:paused;
    -webkit-animation-play-state:paused; /* Safari and Chrome */

    .sheep-head{
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg)
    }

    .eye{
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      .eye-ball{
        -webkit-transform: translate(3px,-3px);
        transform: translate(3px,-3px);
      }
    }
  }
}
