$gray:        #44444a;
$gray-light:  #99999a;

nav.menu-icon-wrapper {
  position: absolute;
  right: 90px;
  top: 45px;
  z-index: 800;

  &.white {
    .menu-icon span {
      background-color: white;
    }
  }
}

.menu-icon {
  display: inline-block;
  padding: 10px;
  width: 40px;
  height: 40px;
  span {
    position:relative;
    display:block;
    width:100%;
    height:2px;
    background-color:#32323c;
    transition:all .3s ease-in;

    &:nth-child(2) {
      -webkit-transform:translate3d(0,6px,0);
      transform:translate3d(0,6px,0);
    }

    &:nth-child(3) {
      width:50%;
      -webkit-transform:translate3d(0,12px,0);
      transform:translate3d(0,12px,0);
    }
  }
  &:hover span:nth-child(3) {
    width: 100%;
  }
}

#main-menu {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0px;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #fff;
  z-index: 500; 
  overflow: auto;
  padding: 45px 0;

  will-change: transform; 
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);

  -webkit-transform: translateX(0);
  transform: translateX(0);

  &.menu-open {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);

    // .menu-list-container li {
    //   @for $i from 1 through 10 {
    //     &:nth-child(#{$i}) {
    //       -webkit-animation-delay: 0.33s * $i;
    //       animation-delay: 0.33s * $i;
    //     }
    //   }
    // }
  }

  .menu-list{
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: 60px;
    list-style-type: none;
    opacity: 1;
    overflow: auto;

    .menu-list-container{
      margin-bottom: 45px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .menu-title {
    margin-bottom: 15px;
    color: $gray-light;
    line-height: 30px; 
    text-decoration: none; 
  }

  .menu-link {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $gray;
      text-decoration: none;
      border-bottom: 1px solid #dddddf;
    }
  }

  .menu-bottom {
    margin: 0 60px;
    .social-media {
      line-height: 30px;
      a {
        margin-right: 5px;
        color: $gray-light;
        text-decoration: none; 
        transition: all 300ms ease-in-out;

        &.git:hover {
          color: #333;
        }
        &.linkedin:hover {
          color: #4875B4;
        }
        &.dribbble:hover {
          color: #ea4c89;
        }
      }
    }
  }
}

#nav-menu-close{
  position: absolute;
  right: 60px;
  top: 0;
  width: 30px;
  height: 30px;
  background:#fff url(images/icon-menu-close.svg) no-repeat 0 0;
  background-size: 60px 30px;
}

#nav-menu-close:hover{
  background:#fff url(images/icon-menu-close.svg) no-repeat -30px 0;
  background-size: 60px 30px;
  cursor: pointer;
}