<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div id="page">
        {% include navigation.html %}
        <section class="site-wrap">
            {% include header.html %}
            {{ content }}
        </section>
    </div>

    <div id="white-fade" class="fade fade-out display-hide" aria-hidden="true"></div>
    <div id="black-fade" class="fade display-hide" aria-hidden="true">
        {% include fade-background.html %}
    </div>
    
    {% include scripts.html %}
</body>
</html>
