---
layout: default
type: post
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<!-- <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
{% if page.update_date %}
<span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span>
{% endif %}
<span class="post-meta small">{{ minutes }} minute read</span> -->

<main class="main-content" 
  {% if page.header-bg %}style="background-image:url('{{ site.baseurl }}/images/{{page.header-bg}}')"{% endif %}
  {% if page.bg-color %}style="background:{{page.bg-color}}"{% endif %}>
  <header class="post-header-container {{ page.header-class }}">
    <div class="home-btn">
      <a class="menu-link" href="{{ site.baseurl }}/">home</a>
    </div>
    <div class="post-header animated fade-in-up-sm">
      <h1>{{ page.title }}</h1>
      <div class="post-tag-container">
      {% if page.tags.size > 0 %}
        {% for post_tag in page.tags %}
          <span class="post-tag">{{ post_tag }}</span>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </header>
  <section class="post-content-container animated fade-in-up-md">
    {% if page.addon-bg %}
      <div  class="addon-bg" 
            style=" background-image:url('{{ site.baseurl }}/images/addons/{{page.addon-bg}}');
                    bottom:{{page.addon-bg-bot}}px;
                    right:{{page.addon-bg-right}}px">
      </div>
    {% endif %}
    <article class="post-content">
      {% if page.summary %}
        <header class="post-summary">
          {{ page.summary }}
        </header>
      {% endif %}

      {{ content }}
    </article>
  </section>

  {% if site.show_post_footers %}
    {% include post_footer.html %}
  {% endif %}

  {% if site.show_related_posts %}
    <h3 class="related-post-title">Related Posts</h3>
    {% for post in site.related_posts %}
      <div class="post ml2">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h4 class="post-title">{{ post.title }}</h4>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</main>